@using Microsoft.AspNet.Identity;
@using Microsoft.AspNetCore.Identity;
@model IEnumerable<MyForumProject.BL.Entities.Post>

@{
    ViewData["Title"] = "Index";
}

<h2 class="d-flex justify-content-center">Posts actuality</h2>

<br />
@foreach (var item in Model)
{
    <div class=" d-flex justify-content-center">
        <div class="card text-center w-75">
            <div class="card-header d-flex justify-content-between">
                <div class="d-flex flex-row ">
                    <p><strong>Author :&nbsp;</strong></p>

                   @Html.DisplayFor(modelItem => item.OwnerName)

                </div>
                <div class="d-flex flex-row ">
                    <p><strong>From Blog:&nbsp;</strong></p>
                    @Html.DisplayFor(modelItem => item.Blog.Nom)
                </div>
            </div>
            <div class="card-body">
                <h4 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h4>
                <div class="card-text"> @Html.Raw(@item.Content)</div>

            </div>
            <div class="card-footer text-muted d-flex justify-content-between">
                @Html.DisplayFor(modelItem => item.CreatedAt)
                <div>
                   
                    <a asp-action="Details" asp-route-id="@item.PostId">Details</a> 
                  
                </div>
            </div>
        </div>
        
   </div>
    <br />
}



