@using Microsoft.AspNet.Identity;
@using Microsoft.AspNetCore.Identity;
@model IEnumerable<MyForumProject.BL.Entities.Post>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@foreach (var item in Model)
{
    
<div class="card text-center">
  <div class="card-header">
            
			
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@User.Identity?.Name!</a>
            @Html.DisplayFor(modelItem => item.Blog.Nom)
  </div>
  <div class="card-body">
            <h4 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h4>
            <div class="card-text"> @Html.Raw(@item.Content)</div>
    
  </div>
        <div class="card-footer text-muted d-flex justify-content-between">
            @Html.DisplayFor(modelItem => item.PublishedDateTime)
            <div>
                
                <a asp-action="Edit" asp-route-id="@item.PostId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PostId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PostId">Delete</a>
            </div>
  </div>
</div>
<br />}


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublishedDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Blog)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublishedDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Blog.BlogId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PostId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PostId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PostId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
