@model MyForumProject.BL.Entities.Blog

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Blog</h4>
    <hr />
    
       
    

    

    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.BlogId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<div>
    <h2>Create a new post</h2>
    <hr />
    <div>
		<a asp-action="CreatePost" asp-route-id="@Model?.BlogId">Create a new post</a>
        </div>
</div>
<div>

    @if (Model.Posts != null)
    {

        @foreach (var post in Model.Posts)
        {

        <div class="card text-center">
          <div class="card-header">


                    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@User.Identity?.Name!</a>
                    
          </div>
          <div class="card-body">
                    <h4 class="card-title">@Html.DisplayFor(modelItem => post.Title)</h4>
                    <div class="card-text"> @Html.Raw(@post.Content)</div>

          </div>
                <div class="card-footer text-muted d-flex justify-content-between">
                    @Html.DisplayFor(modelItem => post.PublishedDateTime)
                    <div>
                        <a asp-action="Edit" asp-route-id="@post.PostId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@post.PostId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@post.PostId">Delete</a>
                    </div>
          </div>
        </div>
        <br />
        }
    }
    else
    {
                <h3>No posts found :/</h3>
    }
    </div>
